{% extends 'template.html' %}
{% load static %}

{% block titulo %}
Producto - Ferremas
{% endblock %}

{% block content %}
  <div class="container mt-5 pt-5">
    <h1 class="text-center mb-4" style="color: #FFCCD5;">{{ producto.nombre }}</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card product-card">
          <img src="{{ producto.imagen }}" class="card-img-top" alt="{{ producto.nombre }}" style="height: 300px; object-fit: cover;">
          <div class="card-body">
            
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">Precio unitario: $<span name="precio_unitario" id="precio_unitario">{{ producto.precio|floatformat:2 }}</span></p>
            <p class="card-text">Precio total: $<span name="precio_total" id="precio_total" value="">{{ producto.precio|floatformat:2 }}</span></p>
            <p class="card-text">{{ producto.descripcion|default:"Descripción no disponible." }}</p>
            <div class="d-flex align-items-center mb-3">
              <label for="quantity" class="me-2" style="color: #FFE4E1;">Cantidad:</label>
              <div class="input-group w-25">
                <button class="btn btn-outline-secondary" type="button" onclick="reducirCantidad()">-</button>
                <input type="number" id="quantity" class="form-control text-center " value="1" min="1" readonly>
                <button class="btn btn-outline-secondary" type="button" onclick="aumentarCantidad()">+</button>
              </div>
            </div>
            <form method="POST" action="{% url 'realizar_pago' %}">
            {% csrf_token %}
            <input type="hidden" name="token_ws" value="{{ token }}">
            <input type="hidden" id="amount" name="amount" value="{{producto.precio|floatformat:0 }}">
            <input type="hidden" id="productoId" name="productoId" value="{{producto.productoId}}">
            <div class="text-center">
                <button type="submit" class="btn btn-cart"><i class="fas fa-cart-plus"></i> Comprar</button>
            </div>
            
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>


 function aumentarCantidad() {
      let input = document.getElementById('quantity');
      let precioUnitario = parseFloat(document.getElementById('precio_unitario').textContent);
      let precioTotalElement = document.getElementById('precio_total');
      let amountInput = document.getElementById('amount');

      input.value = parseInt(input.value) + 1;
      let newTotal = precioUnitario * parseInt(input.value);
      precioTotalElement.textContent = newTotal.toFixed(2);
      amountInput.value = newTotal.toFixed(0);
    }

    function reducirCantidad() {
      let input = document.getElementById('quantity');
      let precioUnitario = parseFloat(document.getElementById('precio_unitario').textContent);
      let precioTotalElement = document.getElementById('precio_total');
      let amountInput = document.getElementById('amount');

      if (parseInt(input.value) > 1) {
        input.value = parseInt(input.value) - 1;
        let newTotal = precioUnitario * parseInt(input.value);
        precioTotalElement.textContent = newTotal.toFixed(2);
        amountInput.value = newTotal.toFixed(0); 
      }
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}