{% extends 'template.html' %}
{% load static %}

{% block titulo %}
Redirigiendo a Webpay - Ferremas
{% endblock %}

{% block content %}

{%if request.session.usuarioId%}
<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card product-card text-center">
                <div class="card-body">
                    <h3 class="card-title" style="color: #FFE4E1;">Redirigiendo a Webpay</h3>
                    <p class="card-text" style="color: #FFE4E1;">Por favor, espera mientras te llevamos a la pasarela de pago...</p>
                    <div class="spinner-border" style="color: #FFCCD5;" role="status">
                        <span class="visually-hidden">Cargando...</span>
                    </div>
                    <form id="webpay_form" method="POST" action="{{ url }}">
                        <input type="hidden" name="token_ws" value="{{ token }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // delay de 2 segundos con barra de carga
    setTimeout(function() {
        document.getElementById('webpay_form').submit();
    }, 2000);
</script>
{%else%}

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card product-card text-center">
                <div class="card-body">
                    <h3 class="card-title" style="color: #FFE4E1;">Necesitas iniciar sesión para hacer una compra.</h3>
                    <p class="card-text" style="color: #FFE4E1;">Inicia sesión o registrate.</p>
                    <a href="{% url 'login' %}" id="login-btn"class="btn login-btn mt-3">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endif%}
{% endblock %}